* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
}

/* GENERICS */

.section_header {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.para_title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

/* DEALS */

#deals {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#deals .container {
    top: 520px;
    position: absolute;
    width: 100%;
    padding: 0;
}

.deal_content-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 12px;
}

.deals_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deal_item {
    background-color: #fff;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px; 
}

.deal_img_figure {
    width: 252px;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal_img {
    width: 60%;
    height: 60%;
    border: 0px solid transparent;
    border-radius: 50%;
    transition: all 300ms ease;
}

.deal_img:hover {
    transform: scale(3);
}


.deal_content-container h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #fff;
}

.deal_content-container p {
    color: #fff;
    font-size: 20px;
}

.discount {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
}

.monthly_link {
    text-decoration: none;
    color: #fff;
}

/* MATERIALS  */

#material {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.panels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.panel {
    padding: 92px;
    margin: 24px;
    width: calc(100% / 2.2);
    border: 2px solid #242424;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.panel:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 6px rgba(100, 100, 100, 0.1);
}

.panel_title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    transition: all 300ms ease;
    text-align: center;
}

.panel_title:hover {
    color: lightgray;
}

.carpet_panel {
    background-repeat: no-repeat;
    background-size: cover;
}

.lvp_panel {
    background-repeat: no-repeat;
    background-size: cover;
}

.panel a {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.wood_panel {
    background-repeat: no-repeat;
    background-size: cover;
}

.carpet_tile_panel {
    background-repeat: no-repeat;
    background-size: cover;
}

/* QUIZ */

#quiz {
    background-color: #242424;
    background-image: linear-gradient(315deg, #5c5857 0%, #242424 100%);
}

.quiz_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz_content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz_content-container p {
    margin: 16px;
    color: #fff
}

.quiz_content-container h2 {
    color: #fff;
}

.quiz_btn a{
    text-decoration: none;
    color: #fff;
}

/* ABOUT US */

#about {
    background-color: #fff;
    background-image: linear-gradient(315deg, #242424 0%, #5c5857 100%);
}

.content_container .para_title {
    color: #fff;
}

.about_header {
    color: #fff;
}

.about_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 48px;
}

.store_img {
    height: 352px;
    border: 1px solid #fff;
    border-radius: 16px;
    margin-right: 24px;
}

.sfn_store-img {
    height: 352px;
    width: 352px;
    border: 1px solid #fff;
    border-radius: 16px;
    margin-right: 24px;
}

.sfn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 48px;
}

.about_para {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 500px;
    color: #fff;
}

.roomvo_header {
    text-align: right;
}

.roomvo_img {
    height: 352px;
    border: 1px solid #fff;
    border-radius: 16px;
    margin-left: 24px;
}

.roomvo_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 48px;
}

.roomvo_para {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 500px;
    color: #fff;
}

/* CONTACT */

#contact .row {
    display: flex;
    flex-direction: column;
}

#contact .row h2 {
    text-align: center;
    margin-left: 32px;
    font-size: 48px;
}

.contact_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 48px;
    border: 2px solid black;
    background-color: whitesmoke;
}

.store-1,
.store-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px;
}

.store-1 h3, .store-2 h3 {
    font-size: 22px;
}

.store-1 p, .store-2 p {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.store-1 p img, .store-2 p img {
    margin-right: 12px;
}

.divider {
    background-color: #242424;
    padding: 1px;
    height: 242px;
    width: 1px;
    margin-right: 82px;
    margin-left: 82px;
}

.maps {
    display: flex;
    flex-direction: row;
}

.map-1 {
    margin-right: 82px;
}

.call_number {
    text-decoration: none;
    color: blue;
    transition: all 300ms ease;
}

.call_number:hover {
    transform: scale(1.07);
}

.mail_email {
    text-decoration: none;
    color: blue;
    transition: all 300ms ease;
}

.mail_email:hover {
    transform: scale(1.07);
}

/* CAROUSEL */

.carousel {
    width: 100%;
    background-color: #fff;
    color: #242424;
    position: relative;
    overflow: hidden;
}

#carousel {
    padding: 48px 102px 0px 102px;
}

.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid #242424;
    border-radius: 50px;
    background: #242424;
    margin: 10px;
    cursor: pointer;
}

.selected {
    background: transparent;

}
.slider {
    display: flex;
    height: 100%;
    width: 400%;
    transition: 300ms all;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrowControl img{
    height: 32px;
    width: 32px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.carousel_section {
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
}

.section_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_contents p {
    text-align: center;
    width: 50%;
}

/* QUICK NAV*/
#quick_nav {
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#quick_nav .container {
    padding: 42px 0;
}

.quick_nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quick_nav_link {
    margin: 24px;
    border: 2px solid #242424;
    border-radius: 16px;
    padding: 12px;
    transition: all 300ms ease;
}

.quick_nav_link:hover {
    transform: scale(1.07);
}

.quick_nav_link a {
    text-decoration: none;
    color: #242424;
    font-size: 24px;
    font-weight: 700;
}

.samples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.samples p {
    font-size: 18px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

#motd {
    margin-top: 12px;
    opacity: 0.8;
    font-weight: 600;
}

/*SAMPLE POP UP*/

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #242424;
    border: 2px solid #242424;
    border-radius: 16px;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 700px;
    height: 80%;
    max-height: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup .content p {
    margin: 10px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.btn-wrapper a {
    margin: 12px;
    padding: 12px;
    transition: all 300ms ease;
    text-decoration: none;
    width: 50%;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #242424;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 12px;
    transition: all 300ms ease;
}

.popup .close-btn:hover {
    transform: scale(1.1);
    background-color: #b8c6db;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

#recently_viewed {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recently_viewed {
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    display: none;
}

.recently_viewed a {
    text-decoration: none;
}

.recently_viewed_header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    display: none;
}

.recently_viewed_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
    text-decoration: none;
}

.recently_viewed_img {
    height: 152px;
    border-radius: 8px;
    border: 2px solid #242424;
    margin-bottom: 8px;
    transition: all 300ms ease;
}

.recently_viewed_img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 6px rgba(100, 100, 100, 0.1);
}

.recently_viewed_product_title {
    margin-bottom: 4px;
    text-decoration: none;
    color: #242424;
}

.recently_viewed_product_price {
    color: #242424;
    font-weight: 500;
    font-size: 16px;
}

.uom {
    font-size: 12px;
    color: #242424;
    font-weight: 500;
}