body {
    margin: 0;
}

#product {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
}

.product_wrapper {
    height: 540px;
    width: 540px;
}

.product_img {
    height: 100%;
    width: 100%;
    border: 2px solid #242424;
    border-radius: 16px;
}

.product_img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.product_container {
    display: flex;
    flex-direction: row;
}

.product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_description p {
    text-align: center;
    width: 50%;
    font-size: 20px;
}

.product_information {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.product_header p {
    color: #CAC5C5;
    font-weight: 700;
    font-size: 18px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #CAC5C5;
    margin-bottom: 6px;
}

.step-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.step-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.color_image {
    height: 40px;
    width: 40px;
    border: 1px solid #242424;
    border-radius: 8px;
    margin-right: 12px;
}

.color_dropdown {
    min-width: 240px;
    position: relative;
    margin: 32px;
    margin-left: 0;
}

.color_dropdown * {
    box-sizing: border-box;
}

.select {
    background: whitesmoke;
    color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #242424;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: background 300ms ease;
}

.select_clicked {
    border: 2px solid #242424;
    box-shadow: 0 0 14px #242424;
}

.select:hover {
    background: #fff;
}

.selected {
    display: flex;
    align-items: center;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #242424;
    transition: all 300ms ease; 
}

.caret_rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 3px 8px;
    background: whitesmoke;
    border: 1px solid #242424;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #242424;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 64px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: opacity 150ms ease-in, transform 150ms ease-in-out;
    z-index: 1;
    max-height: 300px;
    overflow: auto;
}

.menu li {
    padding: 12px 8px;
    margin: 4px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu li:hover {
    background: #fff;
}

.menu_open {
    display: flex;
    opacity: 1;
}

.menu.menu_open {
    transition: opacity 150ms ease-in, transform 150ms ease-in-out;
}

.steps h2 {
    font-size: 32px;
}

.price {
    font-size: 42px;
}

.uom {
    font-size: 24px;
}

.rating {
    font-size: 28px;
}

.product_name {
    font-size: 48px;
}

#brand_name {
    font-size: 26px;
}

#color_name {
    font-size: 42px;
}

.product_slide_show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 600px;
    overflow-y: hidden;
}

.product_image {
    margin-right: 10px;
    margin-left: 10px;
    height: 120px;
    width: 120px;
    border: 2px solid #242424;
    border-radius: 16px;
    transition: all 300ms ease-in-out;
}

.product_image:hover {
    transform: scale(1.15);
}

.move {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    height: 40px !important;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.move:hover {
    transform: scale(1.15);
}