body {
    margin: 0;
}

#main {
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information {
    display: flex;
    flex-direction: column;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1 {
    text-align: center;
}

.phone {
    text-decoration: none;

}

figure img {
    padding-right: 8px;
}

@media (max-width: 1024px) {
    .location_description {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    #main .row {
        margin-left: 20px;
    }

    .tooltip_container {
        top: 11% !important;
    }
}

@media (max-width: 426px) {
    #main .row {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }
}