* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,700;1,900&family=Open+Sans:wght@400;500;600;700;800&display=swap');
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#store {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    margin-bottom: 48px;
}

.banner h1 {
    text-align: center;
    font-size: 62px;
    padding-bottom: 16px;
}

.store_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 48px;
}

.filters {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 24px;
}

.filter {
    margin: 16px;
    padding: 12px;
    border: 2px solid #242424;
    border-radius: 16px;
    background-color: whitesmoke;
}

.filter h3 {
    text-align: center;
}

.filter_options {
    display: flex;
    flex-direction: row;
}

.filter_option {
    margin: 12px;
    white-space: nowrap;
}

.filter_option input {
    margin-bottom: 6px;
    margin-right: 4px;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product_wrapper {
    width: calc(100% / 4);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product {
    width: 100%;
    padding: 232px 92px;
    height: auto;
    margin: 12px;
    border: 2px solid #242424;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 400ms ease;
    position: relative;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 6px rgba(100, 100, 100, 0.1);
}

.product_img {
    width: 200px;
    height: 200px;
    margin: 6px;
}

.product_img img {
    height: 100%;
    width: 100%;
    border: 0px solid transparent;
    border-radius: 50%;
}

.product_name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 10px;
    color: whitesmoke;
}

.product_brand {
    font-size: 20px;
    font-weight: 600;
    margin: 6px;
    color: #CAC5C5;
}

.product_banner {
    background-color: #242424;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #242424;
}

.price {
    font-size: 18px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #CAC5C5;
}

.uom {
    font-size: 14px;
    font-weight: 400;
    color: #CAC5C5;
}

#product {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.colors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.color_wrapper {
    height: 42px;
    width: 42px;
    margin: 8px;
    transition: all 300ms ease;
    cursor: pointer;
}

.color_wrapper:hover {
    transform: scale(1.8);
}

.color_wrapper img {
    height: 100%;
    width: 100%;
    border: 1px solid #242424;
    border-radius: 8px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 48px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navigation ul li {
    text-decoration: none;
    list-style: none;
}

.nav_page-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 100ms ease;
    margin: 0 12px;
    font-size: 18px;
}

.nav_page-btn:hover {
    transform: scale(1.2);
    color: red;
}

.nav_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 200ms ease;
}

.nav_btn:hover {
    transform: scale(1.2);
}

.btn_divider {
    border: 1px solid #242424;
    height: 24px;
    margin: 12px;
}

.total_colors {
    color: whitesmoke;
    margin-bottom: 12px;
}

.desc_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.rating {
    color: #CAC5C5;
    margin-left: 12px;
    font-size: 18px;
}

.removal {
    display: none;
}

.cptTile_wrapper {
    width: calc(100% / 3);
}

.cptTile_container {
    padding: 12px;
}